{% extends 'layouts/layout.html.twig' %}

{% block slimslider %}
	{% include 'includes/_slimslider.html.twig' with { sliderItems: sliderItems } %}
{% endblock %}

{% block page_content %}
	{% do pimcore_head_title('Title') %}

	<div class="container">

		{{ pimcore_areablock("own_content_block", {
				"allowed": ["textimage"],
				"limit": 5
			}) 
		}}
	
	</div>
{% endblock %}