<header class="header">

	<div class="container-fluid header-top">
		<div class="container">
			<div class="row py-3">
				<div class="col-8">
					<ul class="info">
						<li><i class="fa fa-envelope"></i> info@email.com</li>
						<li><i class="fa fa-map"></i>Alexanderplatz 1, 12345 Berlin</li>
					</ul>
				</div>
				<div class="col-4 social">
					{% include 'includes/nav/_social_nav.html.twig' with { socialNavItems: socialNavItems } %}
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid header-bottom">
		<div class="container">
			<div class="row">
				<div class="col-9 col-lg-3 logo">
					{% include 'includes/_logo.html.twig' with { logo: logo} %}
				</div>
				<div class="col-3 col-lg-9 main-nav d-flex align-items-center align-items-xl-end justify-content-end">
					{% include 'includes/nav/_main_nav.html.twig' with { mainNavItems: mainNavItemsFiltered } %}
					{% include 'includes/nav/_burger_menu.html.twig' %}
				</div>
			</div>
		</div>
	</div>
</header>	
