<section class="slider">

	<div id="slider" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-inner">
			{% if carouselItems|length > 0 %}
				{% for item in carouselItems %}

					<div class="carousel-item {% if loop.first %}active{% endif %}">
						<img 
							src="{{ item.getThumbnail('carousel-thumb').getPath() }}" 
							alt="{{ item.getMetadata('alt') }}" 
							class="d-block w-100"
							title="{{ item.getMetadata('title') }} | {{ item.getMetadata('copyright') }}" />
					</div>

				{% endfor %}
			{% endif %}
		</div>
		{% if carouselItems|length > 1 %}
			<a class="carousel-control-prev" href="#slider" role="button" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#slider" role="button" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
			{% endif %}
	</div>
</section>