

<a href="{{ document.getParent().getRealFullPath() }}">
    {% if logo %}
        {{ logo.getThumbnail('logo-thumbnail').getHtml({
            'alt': 'Unternehmenslogo',
            'class': 'site-logo'
        }) | raw }}
    {% else %}
        <img src="/path/to/default/logo.png" alt="Unternehmenslogo" class="site-logo" />
    {% endif %}
</a>

