<div class="burger-menu d-flex d-xl-none my-3">
	<i class="burger-menu-icon">
		<span class="line line-1"></span>
		<span class="line line-2"></span>
		<span class="line line-3"></span>
	</i>
	<span class="visually-hidden">{{ 'burger-menu.screenreader' | trans }}</span>
</div>