<ul class="main-navigation">
	{% if mainNavItems|length > 0 %}
			{% for page in mainNavItems %}
					{% if page.published %}
							<li>
									<a href="{{ page.href ?: '#' }}" target="_top">
											<i class="fa-solid fa-caret-right"></i>
											<span>{{ page.title}}</span>
									</a>
							</li>
					{% endif %}
			{% endfor %}
	{% else %}
			<li>No Footer Menü found</li>
	{% endif %}
</ul>