{% extends 'content_layouts/default.twig' %}

{% block content %}

    {% set imageField = pimcore_image('image', {'height': 400}) %}
    {% set textField = pimcore_wysiwyg('text') %}

    {% if editmode %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    Bild: {{ imageField | raw}}
                </div>
                <div class="col-6">
                    Text: {{ textField | raw}} 
                </div>
            </div>
        </div>
    {% else %}

        {% if not imageField.isEmpty() %}
            <div class="col-6">
                <img src="{{ imageField.getThumbnail('textmedia') }}" alt="imageField.alt">
            </div>
        {% endif %}
        {% if not textField.isEmpty() %}
            <div class="col-6">
                {{ textField | raw}} 
            </div>
        {% endif %}

    {% endif %}
    
{% endblock %}